@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black
}

*{
    font-family:"Poppins",sans-serif
}

html{
  scroll-behavior:"smooth"
}

@layer utilities{
    .clip-path-custom{
        clip-path: polygon(0 0 ,100% 0 , 100% 98% ,75% 95% ,0 100%)
    }
    .clip-path-custom2{
        clip-path: polygon(0 0 ,100% 0 , 100% 98% ,25% 95% ,0 100%)
    }
    
}

.themed-scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar (if any) */
}

.themed-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a855f7; /* Your purple-500 accent color */
  border-radius: 10px; /* Rounded thumb */
  /* You can add a border to create a "padding" effect around the thumb */
  border: 2px solid #1f2937; /* Same color as the track for the border */
}

.themed-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9333ea; /* A slightly darker or more vibrant purple (e.g., purple-600) for hover */
}